# DATA WRANGLING

### 1. Import the dataset personality_scores.csv. Examine the data frame for duplicates (based on ID), and drop any duplicates that exist. Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.

Import the dataset personality_scores.csv.

In [4]:
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

scores = pd.read_csv('personality_scores.csv', sep=';', encoding='utf-8')

### Examine the data frame for duplicates (based on ID), and drop any duplicates that exist.

In [5]:
# droping dulpicates based on ID
scores1 = scores.drop_duplicates('ID')

In [6]:
# droping all the duplicates that exist
scores1 = scores1.drop_duplicates()

In [11]:
# droping unnamed columns
scores2 = scores1.drop(['Unnamed: 51','Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',"Unnamed: 61","Unnamed: 62","Unnamed: 63","Unnamed: 64","Unnamed: 65","Unnamed: 66","Unnamed: 67","Unnamed: 68", "IPIP_HIGH_RISK", "ID"], axis=1)

### Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.

In [12]:
x = len(scores['ID'])
assert x == len(scores1['ID'])

the assert does not return anything therefore it has the same amount.

### 2. Create new columns containing the total score of each of the personality test subscales. To do this, write a function (or functions) that will calculate the total score for each of the subscales (conscientiousness, emotional stability, openness to new experience, agreeableness, extraversion), as set out in scoring. In other words, for the conscientiousness total score, all items marked as belonging to ‘conscientiousness’ should be summed.

In [15]:
import numpy as np
# creating a new DataFrame
new_df = scores2.copy()
# Creating new columns with zero values
new_df['Extraversion'] = np.zeros(len(scores2['Section 5 of 6 [I am always prepared.]']))
new_df['Agreeableness'] = np.zeros(len(scores2['Section 5 of 6 [I am always prepared.]']))
new_df['Conscientiousness'] = np.zeros(len(scores2['Section 5 of 6 [I am always prepared.]']))
new_df['Emotional Stability/Neuroticism'] = np.zeros(len(scores2['Section 5 of 6 [I am always prepared.]']))
new_df['Intellect/Imagination'] = np.zeros(len(scores2['Section 5 of 6 [I am always prepared.]']))

# Defining a fuction 'Total scores'
def total_score(scores1):
    for key, value in scores1.iterrows():
        for i in value.get_values():
            if int(i[1]) == 1:
                new_df.at[key, "Extraversion"] = new_df.at[key, "Extraversion"]+int(i[4])
            if int(i[1]) == 2:
                new_df.at[key, "Agreeableness"] = new_df.at[key, "Agreeableness"]+int(i[4])
            if int(i[1]) == 3:
                new_df.at[key, "Conscientiousness"] = new_df.at[key, "Conscientiousness"]+int(i[4])
            if int(i[1]) == 4:
                new_df.at[key, "Emotional Stability/Neuroticism"] = new_df.at[key, "Emotional Stability/Neuroticism"]+int(i[4])
            if int(i[1]) == 5:
                new_df.at[key, "Intellect/Imagination"] = new_df.at[key, "Intellect/Imagination"]+int(i[4])    
total_score(scores2)

In [16]:
new_df.head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Emotional Stability/Neuroticism,Intellect/Imagination
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30.0,40.0,48.0,36.0,42.0
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42.0,46.0,46.0,40.0,42.0
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,40.0,40.0,38.0,42.0
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30.0,38.0,38.0,40.0,38.0
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28.0,34.0,46.0,38.0,36.0

### 3.Import the data in departments.csv. Merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

* importing departments DataFrame
* merging new_df with departments and asigning it to new_dataFrame

In [23]:
departments_df = pd.read_csv('departments.csv', sep=';', encoding='utf-8')
new_dataframe = pd.concat([new_df, departments_df], axis=1).reindex(scores1.index)

### Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

In [26]:
a = len(new_dataframe['Section 5 of 6 [I am always prepared.]'])
assert a == len(departments_df['ID'])

the assert does not return anything therefore it has the same amount.

### 4.Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness. Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

In [27]:
# filtering dataframe 
filter_df = new_dataframe[(new_dataframe['Emotional Stability/Neuroticism'] < 30) & (new_dataframe['Agreeableness'] < 30) & (new_dataframe['Conscientiousness'] < 30)]
filter_dff = new_dataframe[(new_dataframe['Emotional Stability/Neuroticism'] > 30) & (new_dataframe['Agreeableness'] > 30) & (new_dataframe['Conscientiousness'] > 30)]

# printing id and departments of applicants to screen
print(filter_df.iloc[:, -2:])

        ID   Department
881    881         Data
1197  1197  Copywriting

In [28]:
high = filter_df.iloc[:,-6:]
low = filter_dff.iloc[:,-6:]
high['tags'] = 'high_risk'
low['tags'] = 'low_risk'
filter_tags = pd.concat([high, low])
filter_tags.head()

,Agreeableness,Conscientiousness,Emotional Stability/Neuroticism,Intellect/Imagination,ID,Department,tags
881,28.0,26.0,28.0,36.0,881,Data,high_risk
1197,22.0,26.0,26.0,28.0,1197,Copywriting,high_risk
0,40.0,48.0,36.0,42.0,0,Data,low_risk
1,46.0,46.0,40.0,42.0,1,Data,low_risk
2,40.0,40.0,38.0,42.0,2,Data,low_risk

### 5.Create a new data frame with a count of the number of low and high risk applicants within each department. Let each department be a separate column.

In [31]:

count_tags = pd.DataFrame(filter_tags.groupby(['Department','tags'])['tags'].count()).transpose()
count_tags

Department Copywriting               Data            Design Strategy  Web Dev  \
tags         high_risk low_risk high_risk low_risk low_risk low_risk low_risk
tags                 1      237         1      243       92      326      126

Department  Web dev
tags       low_risk
tags            111